* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", Helvetica, sans-serif;
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
p {
    color: #444;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.508);
    cursor: pointer;
}
header {
    width: 100%;
    background: url(../dark_tint.png), url(../bokeh_car_lights_bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    width: 100%;
    display: flex;
    padding: 2vh 2vw;
}
.nav-h1 {
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-h1:hover {
    border-bottom: 1px solid white;
}
.nav-ul {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-ul li a {
    transition-property: color;
    transition-delay: .5s;
}
.nav-ul li a:hover {
    color: whitesmoke;
}
.nav-li {
    list-style: none;
    padding: 2vh 2vw;
    font-size: 1rem;
    color: lightgray;
    display: flex;
    align-items: center;
}
.nav-li:hover {
    color: whitesmoke;
}
.nav-btn {
    padding: 1vw 2vh;
    border: 0;
    border-radius: 1rem;
}
.nav-btn-a {
    color: black;
    font-size: .8rem;
}
.header-sec {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    gap: 4vh;
}
.header-btn {
    padding: 2vw 2vh;
    border: 0;
    border-radius: 1rem;
    background-color: rgb(45, 165, 221);
    color: white;
    font-size: 1rem;
}
.header-p {
    color: white;
}
.header-btn-a {
    color: white;
}
.first-row-header {
    width: 100%;
    padding: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    font-size: 1.5rem;
}
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 239, 239);
    border: 1px solid lightgrey;
}
.first-row-content {
    width: 35%;
    padding: 10vh 4vw;
    margin: 2.5vw;
    gap: 5vh;
    margin: 10 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
}
.box-holder {
    width: 80%;
    padding: 5vw;
    gap: 3vw;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
}
i {
    /* background-color: white; */
    font-size: 2.5rem !important;
    color: white;
}
.blue {
    background-color: #3cadd4;
    padding: 20%;
    border-radius: 50%;
}
.green {
    background-color: #add43c;
    padding: 20%;
    border-radius: 50%;
}
.pink {
    background-color: #d43c61;
    padding: 20%;
    border-radius: 50%;
}
h3 {
    color: lightslategray;
}
.secound-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secound-row-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 15% 20%;
}
.user {
    width: 25%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}
.user-data {
    /* width: 70%; */
    gap: 5vh;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightslategray;
    font-size: smaller;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}
img {
    border-radius: 50%;
    margin: 0 2%;
}
.sub-section2 {
    width: 70%;
    margin: 5vw;
    padding: 5vh 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section2-p {
    width: 82%;
}
.section2-btn {
    margin: 10vh;
    padding: 2vw 4vh;
    border: 0;
    border-radius: 1rem;
    background-color: #2da2ca;
    font-size: 1.2rem;
}
.section2-btn a {
    color: white;
}
.third-row {
    width: 100%;
    padding: 25vh;
    gap: 5vh;
    background-color: #3cadd4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
}
.third-row h3 {
    color: white;
    padding-bottom: 8vh;
}
input {
    border: 0;
    border-radius: .5rem;
    padding: 4vh;
}
textarea {
    border: 0;
    border-radius: .5rem;
    padding: 4vh;
    margin: 4vh;
}
.section-form {
    width: 60%;
    text-align: center;
}
.section-btn {
    background-color: #444751;
    color: #ffffff;
    border: 0;
    border-radius: 1.5rem;
    padding: 4vh 3vw;
    font-size: 1.2rem;
}
.footer-content {
    width: 100%;
    padding: 30vh 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #858585;
    background-color: #444;
}
.footer-ul {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3vw;
}
.footer-ul li {
    list-style: none;
}
.footer-ul li a:hover {
    text-decoration: underline;
}
/* button:hover{
    background-color: rgba(255, 255, 255, 0.508);
} */
