body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
table,tr,td{
    border-collapse:separate;
    border-spacing: 2px;
}
tr:nth-child(even){
    background-color:darkblue;
}
tr:nth-child(odd){
    background-color:blue;
}
th{
    color: aqua;text-align: left;text-shadow: 2px 2px 5px aqua;background-color: black;
}
tr:hover{
    background-color:lightslategray;
}
td:hover{
    background-color:gray;
    box-shadow: 2px 2px 5px white;
    width: 110px;
}
td{
    width: 100px;cursor: pointer;
}

td:first-child{
    color: darkred;
}
